/*Grid settings*/
.container {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    column-gap: 100px;
    height: 85vh;
}

.item {
    width: 100%;
}

/*Body*/
body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*Header*/
header {
    background: black;
    color: white;
    height: 75px;
    text-align: center;
}

h1 {
    margin: 0;
    padding: 15px 0 0 0;
}
/*Main*/
main {
    margin: 0 15px 0 15px;
}

.form-item {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
}

.list-item {
    justify-self: end;
}

button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    font-size: 16px;
    cursor: pointer;
    max-height: 30px;
    max-width: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
}

fieldset {
    padding: 0px;
}

.create-container {
    display: grid;
}

input + button {
    margin-top: 10px;
}

/*Lists*/
ul {
    list-style-type: none;
    padding: 0 20px 0 20px;
    max-width: 800px;
}

li {
    margin-top: 20px;
}

    li div {
        margin-top: 5px;
    }

.title {
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: normal;
    text-transform: none;
    line-height: 1.2em;
}

.metadata {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}
